.portfolio  a{
    display: block;
    width: auto;
    margin-left:15px;   
    margin-right: 15px; 
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
}
.col-md-12{text-align: center;}
.flex-box{
    text-align: justify;
       display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    flex-wrap:wrap;
    -webkit-flex-wrap: wrap; 
    moz-flex-wrap: wrap;
    -o-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    
  
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
      -webkit-flex-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
     /* Safari */
  
    margin-bottom: 30px;
    border-bottom: 2px solid silver;
}



.width100{width: 100%;}
.text-uppercase{
    width: 100%;
}

.portfolio a:hover{
    -webkit-animation-name:pulse;
          animation-name:pulse ;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.form figcaption:first-letter{
    font-size: 20px;
}
form input,form textarea{
    margin: 10px 5px 0 5px;
}
textarea{width: 510px;height: 70px;}
form{margin-top: 20px;}
form input:focus:invalid{
box-shadow: 0 0 3px red;

border-color: red;
}

figure{margin-bottom: 20px;}

form input:focus:invalid{}
.map{
    height: 350px;
    margin-bottom: 0px;
}



#anima1:target,
#anima2:target,
#anima3:target,
#anima4:target,
#anima5:target,
#anima6:target,
#anima7:target,
#anima8:target{
     position: fixed;
     left: -webkit-calc(50% - 400px);
left: -moz-calc(50% - 400px);
left: calc(50% - 400px);
top: calc(50% - 260px);
     display: block;


z-index: 10;
width: 800px;
-webkit-animation-name: bounceIn;
          animation-name: bounceIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#anima1:target img, 
#anima2:target img,
#anima3:target img, 
#anima4:target img, 
#anima5:target img, 
#anima6:target img, 
#anima7:target img, 
#anima8:target img{
width: 790px;
}
  
#anima1:target .close,
#anima2:target .close,
#anima3:target .close,
#anima4:target .close,
#anima5:target .close,
#anima6:target .close,
#anima7:target .close,
#anima8:target .close{
    display: block;
    width:800px;
    height: 500px;
}
  
.close{
    display: none;
    position: absolute;
    z-index: 10;   
}

#close:target .anima img{
     margin: 0px;
    width: 230px;
}

