.appBtn {
    border: none
}

.webix_icon.fa-fa.fa-times {
    color: red !important;
}


.slides-template {
    height: 60px;
    font-size: 30px;
    border: 2px solid silver;
    border-radius: 3px;
    width: 110px;
    cursor: pointer;
}

.slides-template > span {
    display: inline-block;
    color: #545454;
    margin: 11px 10px ;
}

.slides-template > span.center {
    margin: 11px 35px ;
}

.slides-template:hover {
    border: 2px solid navy;
}

.selected .slides-template {
    border: 2px solid blue;
}


.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu.active > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu.active > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.in-use.open > a {
    background-color: #5497c4 !important;
    color: #fff;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

body {
    background-color: #fff !important;
}